.card-panel{
    transition: box-shadow .25s;
    padding: 24px;
    margin: 0 0 0 0 !important; 
    border-radius: 2px;
    background-color: #fff;
    
}
#add-food-item {
    height: 100vh;
}

#user-image {
    height: 50px;
    width: 50px;
}

.card-panel h5 {
    font-family: 'Segoe UI';
    text-align: center;
}

#details {
    text-align: right;
}