<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
<div class="row card-panel  orange lighten-2">
  <div class="col s2">Login</div>
  
  <form>
      <div class="form-group">
          <div class="col s1"><label class="black-text" for="username">Username</label></div>
          <div class="col s3"><input type="text" class="form-control orange lighten-2" id="username" name="username" [(ngModel)] = "user.username" ng-required = true></div>
          
        </div>
    <div class="form-group">
      <div class="col s1"><label class="black-text" for="password">Password</label></div>
      <div class="col s3"><input type="password" class="form-control orange lighten-2" id="password" name = "password" [(ngModel)]="user.password" ng-required = true></div>
      
    </div>
    <div class="col s2"><button type="submit" class="btn btn-success orange darken-4" (click) = "onSubmit()">Login</button></div>
    

  </form>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Login Error</h4>
    <p>Please fill the login credientials correctly</p>
  </div>
  <div class="modal-footer">
    <a routerLink="/login" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>