<div class="row card-panel white">
<div class="col s3">LOGO</div>
<div class="col s6"><h5>Merchant Dashboard</h5></div>  
<div class="col s2" id="details"> Merchant ID <br> merchant Name</div>  
<div class="col s1"> <img src="../../assets/user-image-.png" alt="" class="circle responsive-img" id="user-image"></div>    
</div>

<div class="row" id="main-data">
  <div class="col s4 card-panel white" id="functions">
      <div class="collection ">
          <a href="#!" class="collection-item orange-text text-darken-3">Add Food Item</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Edit Item Details</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Check Orders</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Add Chef</a>
        </div>
  </div>
  <div class="col s8 card-panel white" id="other-details">
   <h5>Top Selling Foods</h5>
   <div class="collection ">
      <a href="#!" class="collection-item orange-text text-darken-3">Add Food Item</a>
      <a href="#!" class="collection-item orange-text text-darken-3">Edit Item Details</a>
      <a href="#!" class="collection-item orange-text text-darken-3">Check Orders</a>
      <a href="#!" class="collection-item orange-text text-darken-3">Add Chef</a>
    </div>
  </div>

</div>