<app-nav-bar [title]='this.pageName'></app-nav-bar>
<div class="card-panel white col s8" id="items">
  <!-- <ul *ngFor = "let order of orderData" class="collection">
      <li class="collection-item avatar">
        <img src = {{order.foodItemBean.url}} alt="" class="circle">
        <span class="title">{{order.foodItemBean.foodItemName}}</span>
        <p>{{order.customerID}} <br>
           
        </p>
        <a class="secondary-content"><i class="material-icons" (click) = "selectFood(food)">add_circle</i></a>
      </li>
  </ul> -->

  <ul class="collapsible" materialize="collapsible"  *ngFor = "let order of orderData"  >
    <li>
      <div class="collapsible-header" ><img src = {{order.foodItemBean.url}} alt="" style="height: 10%;width: 10%" class="circle">
        <table>
          <tr> <th><span class="title">{{order.foodItemBean.foodItemName}}</span></th>
            <th><span>Customer Info:<br>
              Name : {{order.customer.customerName}}<br> Telephone : {{order.customer.telephoneNo}}
            <br> Status : {{order.status}}</span></th>
            <th> <button class="btn btn-success orange darken-4" (click) = "startProcess(order)">Start Processing</button></th>
            <th> <button class="btn btn-success  light-green accent-4" (click) = "finishProcess(order)">Done</button></th>
            <th> <button class="btn btn-success red accent-4" (click) = "removeProcess(order)">Remove</button></th>
            </tr>
        </table>
        
        <br>
      </div>
        
      <!-- <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div> -->
    </li>
    
  </ul>
</div>