<div class="row card-panel white">
  <div class="col s3">LOGO</div>
  <div class="col s6"><h5>Food items</h5></div>  
  <div class="col s2" id="details"> Merchant ID <br> merchant Name</div>  
  <div class="col s1"> <img src="../../assets/user-image-.png" alt="" class="circle responsive-img" id="user-image"></div>    
  </div>


  <div class="row" id="items">
    <div class="collection" *ngIf = "noFoodItem==false">
      
        
        <div class="card-panel white col s8" id="items">
            <ul *ngFor = "let food of foodData" class="collection">
                <li class="collection-item avatar">
                  <img src="../../assets/user-image-.png" alt="" class="circle">
                  <span class="title">{{food.foodItemName}}</span>
                  <p>{{food.description}} <br>
                     {{food.price}}
                  </p>
                  <a class="secondary-content"><i class="material-icons" (click) = "selectFood(food)">add_circle</i></a>
                </li>
            </ul>

            <div class="row" *ngIf = "hasRecomendation" >
              <p>You might also like to buy</p>
                <ul *ngFor = "let food of recomendation" class="collection col s2">
                    <li class="collection-item avatar">
                      <img src="../../assets/user-image-.png" alt="" class="circle" style="scale: 25%">
                      <br>
                      <br>
                     {{food.foodItemName}}
                      <br>
                      <a class="secondary-content"><i class="material-icons" (click) = "selectFood(food)">add_circle</i></a>
                    </li>
                </ul>

            </div>
            
        </div>
          <div class="col s4">
            <div  style="height:70vh">
            List of items:
            d
            <ul *ngFor = "let order of orderList" class="collection">
                <li class="collection-item avatar">
                  <img src="images/yuna.jpg" alt="" class="circle">
                  <span class="title">{{order.foodItemName}}</span>
                  <p>{{order.price}} <br>
                     Second Line
                  </p>
                  <a class="secondary-content"><i class="material-icons" (click) = "removeOrder(order)">remove_circle</i></a>
                </li>
            </ul>
          </div>
            <div style="">
                Total Amount : <p style="text-align:right">{{checkOutPrice}}</p>
                <a class="waves-effect waves-light btn" (click)="addOrder()">Proceed</a>
              </div>
            

          </div>
      
    </div>
    <div class="collection" *ngIf = "noFoodItem==true">
      <div class="">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            No Food Items for Selected Customer
            
          

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="orderSuccess" class="modal">
    <div class="modal-content">
      <h4>Order Success</h4>
      <p>Your order successfully added</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="clearData()">OK</a>
    </div>
  </div>


<div *ngIf="loading" class="overlay">
  <div  class="preloader-wrapper big active overlay">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
