<div class="row card-panel white">
  <div class="col s3">LOGO</div>
  <div class="col s6"><h5>Food items</h5></div>  
  <div class="col s2" id="details"> Merchant ID <br> merchant Name</div>  
  <div class="col s1"> <img src="../../assets/user-image-.png" alt="" class="circle responsive-img" id="user-image"></div>    
  </div>


  <div class="card-panel white" id="items">
    <div class="collection">
      <a href="#!" class="collection-item orange-text text-darken-3"><span class="badge">1</span>Alan</a>
      <a href="#!" class="collection-item orange-text text-darken-3"><span class="new badge">4</span>Alan</a>
      <a href="#!" class="collection-item orange-text text-darken-3">Alan</a>
      <a href="#!" class="collection-item orange-text text-darken-3"><span class="badge">14</span>Alan</a>
    </div>
  </div>