<app-nav-bar [title]='this.pageName'></app-nav-bar>


  <div class="card-panel white" id="items">
    <div class="collection">
      <a *ngFor = "let merchant of datalist"  class="collection-item orange-text text-darken-3"><div class="col s12 m8 offset-m2 l6 offset-l3" (click)= 'selectMerchant(merchant)' >
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="../../assets/user-image-.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  {{merchant.merchantName}}
                </span>
              </div>
            </div>
          </div>
        </div></a>
     
    </div>
  </div>