<div class="row card-panel white">
  <div class="col s3">LOGO</div>
  <div class="col s6"><h5>Merchant-Add Food Item</h5></div>  
  <div class="col s2" id="details"> Merchant ID <br> merchant Name</div>  
  <div class="col s1"> <img src="../../assets/user-image-.png" alt="" class="circle responsive-img" id="user-image"></div>    
</div>

<div class="card-panel  white col s12 black-text darken-4-text" id="add-food-item">
  <div class="row">
      <div class="input-field col s6">
        <div class="col s1"><label class="black-text">Name</label></div>
          <input id="fooditemName" type="text" class="validate" name="name" [(ngModel)] = "foodItem.foodName" >
          </div>
        <div class="input-field col s6">
          <div class="col s1"><label class="black-text">Price</label></div>
          <input id="price" type="text" class="validate"[(ngModel)] = "foodItem.price" name="price">
        </div>
  </div>


  <div class="row">
    <div class="row">
      <div class="input-field col s12">
          <div class="col s1"><label class="black-text">Description</label></div>
        <textarea id="textarea2" class="materialize-textarea"  name="description" [(ngModel)]="foodItem.description" ></textarea>
       </div>
    </div>
  </div>
  <div class="row">
    
  <form action="#">
    <div class="file-field input-field">
      <div class="btn orange darken-4">
        <span>Add Image</span>
        <input id="file" type="file" (change) = "select($event)">
      </div>
      <div class="file-path-wrapper">
        <input id="filename" class="file-path validate " name="filename" type="text" [(ngModel)] = "this.filename">
      </div>
    </div>
  </form>
  </div>
  <div class="col s2"><button type="submit" class="btn btn-success orange darken-4" (click) = "onSubmit()">Register</button></div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Error</h4>
    <p>{{foodItem.fooditemName}} error</p>
  </div>
  <div class="modal-footer">
    <a routerLink="/register" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Food Item Added Successfully</h4>
    <p>{{foodItem.fooditemName}} added Successfully</p>
  </div>
  <div class="modal-footer">
    <a routerLink="/merchantDashboard" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>

