    <app-nav-bar [title]='this.pageName'></app-nav-bar>
    
    <div class="row" id="main-data">
      <div class="col s4 card-panel white" id="functions">
          <div class="collection ">
              <a [routerLink]="['/merchantList']" class="collection-item orange-text text-darken-3">Add Order</a>
              <a  class="collection-item orange-text text-darken-3">Cancle Order</a>
              <a href="#!" class="collection-item orange-text text-darken-3">Edit Details</a>
              <a href="#!" class="collection-item orange-text text-darken-3">Add Chef</a>
            </div>
      </div>
      <div class="col s8 card-panel white" id="other-details">
       <!-- <h5>Top Selling Foods</h5>
       <div class="collection ">
          <a href="#!" class="collection-item orange-text text-darken-3">Add Food Item</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Edit Item Details</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Check Orders</a>
          <a href="#!" class="collection-item orange-text text-darken-3">Add Chef</a>
        </div>
      </div> -->
    
    </div>